.btn{
    background-color: #222;
    color: #fff;
    padding: 0.7em 1.2em;
    transition: background-color .3s  ease;
    cursor: pointer;
    border: none;
    margin-top: 1em;

}

.btn:hover{
    background-color: #ffbb33;
}